*,
html {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  color: black;
}
.wrapper {
  height: 100%;
  min-height: 1900px;
  background-color: #ccc2;
  width: 100%;
}
.wrapper #container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 900px;
  min-height: 450px;
  background-color: #989898;
}
.wrapper #container .blocks {
  height: 100px;
  opacity: 0.5;
  text-align: center;
  width: 400px;
  border-radius: 5px;
  border: 1px solid black;
  left: 250px;
  position: absolute;
  font-size: 23px;
}
.wrapper #container .blocks h2,
.wrapper #container .blocks p {
  line-height: 50px;
}
.wrapper #container .secondary {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  transition: 1s filter linear;
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
}
.wrapper #container .down1 {
  background-color: #008000;
  top: 245px;
}
.wrapper #container .upper1 {
  background-color: #b32d00;
  top: 105px;
}
.wrapper #container .down1,
.wrapper #container .upper1 {
  z-index: 4;
}
.wrapper #container .cent {
  background-color: #003366;
  color: #ccc;
  top: 175px;
  left: 150px;
  width: 600px;
  z-index: 5;
  opacity: 1;
}
.wrapper .buttons-block {
  margin: 0 auto;
  width: 900px;
  background-color: #1f59b7;
}
.wrapper .buttons-block .btn-wrapper {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.wrapper .buttons-block .btn-wrapper button {
  height: 100px;
  width: 200px ;
  display: inline-block;
  font-size: 23px;
}
.wrapper .buttons-block .ngen {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #aa23;
}
.wrapper .buttons-block .ngen button.nmb-btn {
  width: 100px;
}
.wrapper .text-block {
  position: relative;
  width: 900px;
  margin: 0 auto;
  background-color: #1b1e6d;
  color: white;
}
.wrapper .text-block ul.my-lst {
  list-style-type: circle;
  list-style-position: inside;
  font-size: 21px;
}
